
$header-height: 64px !default;
$sider-width: 256px !default;

// 404 页面
.not-found_page {
  padding-top: 200px;
  text-align: center;
  img {
    margin: 0 auto;
  }
  a {
    padding: 0 6px;
    color: $primary--text--color;
    cursor: pointer;
    text-decoration: none;
    &+a {
      border-left: 1px solid $muted--text--color;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}

// layout
.admin-layout {
  &_sider {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: $sider-width;
    height: 100vh;
    @include shadow;
  }
  &_menu {
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
  }
  &_logo {
    display: block;
    height: $header-height;
    padding: 0 16px;
    font-size: 24px;
    line-height: $header-height;
  }
  &_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #fff;
    @include shadow;
    .admin-header_user {
      padding: 0 12px;
      color: $regular--text--color;
      font-size: 16px;
      &:hover {
        background-color: $bg--hover--color;
      }
    }
  }
  &_body {
    width: 100vw;
    min-height: 100vh;
  }
}
