@import './_variables';

// 字符串截取样式
@mixin text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin inline-block {
  display: inline-block;
  vertical-align: middle;
}

@mixin setHover($color) {
  &:hover,
  &:active,
  &:link,
  &:visited,
  &:focus {
    color: $color;
  }
}

@mixin clearfix() {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}
