$base--text--color: #333 !default;
$regular--text--color: #666 !default;
$muted--text--color: #999 !default;
$primary--text--color: #0091ff !default;
$danger--text--color: #f56c6c !default;
$success--text--color: #67c23a !default;
$warning--text--color: #e6a23c !default;
